.courses {
    padding: 10rem 0 5rem;
}

.courses .courses__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: #2e3267;
    text-align: center;
    border: 1px solid transparent;
    position: relative;
}

.course-info {
    padding: 2rem;
}

.course-info p {
    margin: 1.5rem 0 2rem;
    font-size: 0.9rem;
}

.course a {
    margin-bottom: 2rem;
}


